<mat-card>
  <mat-card-header>
    <mat-card-title>Clientes</mat-card-title>
    <mat-card-subtitle>Listado</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-flat-button color="primary" [routerLink]="['/clientes/form']" >
      Crear cliente
    </button>
     <div *ngIf="clientes?.content?.length == 0" class="alert alert-info">
      No hay registros en la base de datos

     </div>
     <mat-table [dataSource]="clientes?.content">
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.createAt}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <button color="primary" mat-flat-button [routerLink]="['/clientes/form', row.id]" > Editar</button>
          <button color="warn" mat-flat-button (click)="delete(row)"  >Eliminar</button>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="['nombre', 'apellido', 'email', 'fecha','options']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['nombre', 'apellido', 'email', 'fecha','options']"></mat-row>
    </mat-table>

      <!-- <table class="table table-bordered table-striped" *ngIf="clientes?.content?.length>0" >
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>fecha</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes.content">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createAt}}</td>
                <td>
                  <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm"  >Editar</button>
                  <button type="button" name="eliminar" class="btn btn-danger btn-sm" (click)="delete(cliente)"  >Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table> -->
      <mat-paginator 
        (page)="handlePageEvent($event)"
        [length]="clientes?.totalElements"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [hidePageSize]="true"
        aria-label="Select page">
      </mat-paginator>
  </mat-card-content>
</mat-card>
